// font-family: jaf-domus-titling-web, sans-serif;
// font-style: normal;
// font-weight: 500;

// font-family: jaf-domus-titling-web, sans-serif;
// font-style: normal;
// font-weight: 400;

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	
}




/* 2. Content ================================= */

.hero{
	width: 100%;
	height: 90vh;
	display: flex;
	@media screen and (max-width: 767px){
		flex-direction: column;
	}
	flex-direction: row;
	

	.background1{
		background-image: url(../../src/img/leftHero.jpg);
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 46%;
		width: 29.1796875%;
		background-size: 100% auto;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		
		
	}

	.background2{
		background-image: url(../../src/img/middleHero.jpg);
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 46%;
		width: 41.4453125%;
		background-size: 100% auto;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		
		
	}

	.background3{
		background-image: url(../../src/img/rightHero.jpg);
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 46%;
		width: 29.4140625%;
		background-size: 100% auto;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		
		
	}
}


.background1{
	position: relative;
	transition: .3s ease;
	
	&::after{
		background-color: #fbbe28;
		@media screen and (max-width: 768px){
			width: 30%;
			margin-top: 20px;
		}
		height: 8px;
		width: 45%;
		top: 52%;
		content: "";
		position: absolute;
		left: 49%;
		transform: translateX(-50%);
		@media screen and (min-width: 1024px){
			width: 39%;
		}
		@media screen and (min-width: 1224px){
			width: 31%;
			top: 50%;
		}
		@media screen and (min-width: 1440px){
			width: 29%;
		}
	}

	h1{
		@media screen and (max-width: 590px){
			padding-top: 125px;
		}
		@media screen and (min-width: 591px){
			padding-top: 143px;
		}
		@media screen and (min-width: 768px){
			padding-top: 70%;
		}
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&:hover{
		opacity: 0;
	}
}

.background2{
	position: relative;
	transition: .3s ease;
	
	&::after{
		background-color: #fbbe28;
		@media screen and (max-width: 768px){
			width: 30%;
			margin-top: 20px;
		}
		height: 8px;
		width: 32%;
		top: 52%;
		content: "";
		position: absolute;
		left: 49%;
		transform: translateX(-50%);
		@media screen and (min-width: 1024px){
			width: 28%;
		}
		@media screen and (min-width: 1224px){
			width: 23%;
			left: 50%;
			top: 51%;
		}
		@media screen and (min-width: 1440px){
			top: 50.5%;
			width: 20%;
		}
	}

	h1{
		@media screen and (max-width: 590px){
			padding-top: 125px;
		}
		@media screen and (min-width: 591px){
			padding-top: 143px;
		}
		@media screen and (min-width: 768px){
			padding-top: 50%;
		}
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&:hover{
		opacity: 0;
	}
}

.background3{
	position: relative;
	transition: .3s ease;

	&::after{
		background-color: #fbbe28;
		@media screen and (max-width: 768px){
			width: 40%;
			margin-top: 20px;
		}
		height: 8px;
		width: 64%;
		top: 52%;
		content: "";
		position: absolute;
		left: 49%;
		transform: translateX(-50%);
		@media screen and (min-width: 1024px){
			width: 54%;
		}
		@media screen and (min-width: 1224px){
			width: 45%;
			left: 49%;
			top: 50%;
		}
		@media screen and (min-width: 1440px){
			width: 39%;
		}
		
	}

	h1{
		@media screen and (max-width: 590px){
			padding-top: 125px;
		}
		@media screen and (min-width: 591px){
			padding-top: 143px;
		}
		@media screen and (min-width: 768px){
			padding-top: 70%;
		}
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&:hover{
		opacity: 0;
	}
}


.logo {
	position: absolute;
	top: -30px;
	width: 60px;
	z-index: 2;
	transform: translateZ(100px);
	transition: 0.3s;

	&:hover {
		transform: rotate(-0.4turn)
	}
}
