// font-family: jaf-domus-titling-web, sans-serif;
// font-style: normal;
// font-weight: 500;

// font-family: jaf-domus-titling-web, sans-serif;
// font-style: normal;
// font-weight: 400;

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	
}




/* 2. Content ================================= */

.hero{
	width: 100%;
	height: 90vh;
	display: flex;
	@media screen and (max-width: 767px){
		flex-direction: column;
	}
	flex-direction: row;
	

	.background1{
		background-image: url(../../src/img/leftHero.jpg);
		background-repeat: no-repeat;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		height: 90vh;
		width: 29.1796875%;
		background-size: 100% auto;
	}

	.background2{
		background-image: url(../../src/img/middleHero.jpg);
		background-repeat: no-repeat;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		height: 90vh;
		width: 41.4453125%;
		background-size: 100% auto;
	}

	.background3{
		background-image: url(../../src/img/rightHero.jpg);
		background-repeat: no-repeat;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		height: 90vh;
		width: 29.4140625%;
		background-size: 100% auto;
	}
}


.background1{
	position: relative;

	h1{
		@media screen and (max-width: 767px){
			padding-top: 30.05780347%;
		}
		position: absolute;
		width: 100%;
		padding-top: 70%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	span{
		background-color: #fbbe28;
		height: 8px;
		width: 46.74634794%;
		position: absolute;
		transform: translateX(50%);
	}
}

.background2{
	position: relative;

	h1{
		@media screen and (max-width: 767px){
			padding-top: 30.05780347%;
		}
		position: absolute;
		width: 100%;
		padding-top: 50%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	span{
		background-color: #fbbe28;
		height: 8px;
		width: 30.74634794%;
		position: absolute;
		transform: translateX(110%);
	}
}

.background3{
	position: relative;

	h1{
		@media screen and (max-width: 767px){
			padding-top: 30.05780347%;
		}
		position: absolute;
		width: 100%;
		padding-top: 70%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	span{
		background-color: #fbbe28;
		height: 8px;
		width: 46.74634794%;
		position: absolute;
		transform: translateX(50%);
	}
}


.logo {
	position: absolute;
	top: -30px;
	width: 60px;
	z-index: 2;
	transform: translateZ(100px);
	transition: 0.3s;

	&:hover {
		transform: rotate(-0.4turn)
	}
}
