// font-family: jaf-domus-titling-web, sans-serif;
// font-style: normal;
// font-weight: 500;

// font-family: jaf-domus-titling-web, sans-serif;
// font-style: normal;
// font-weight: 400;

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	
}




/* 2. Content ================================= */

.mobile-menu{
	opacity: 0.5;
	right: 30px;
	top: 30px;
	z-index: 15;
	position: absolute;
	&:hover{
		opacity: 1;
	}
	@media screen and (min-width: 768px){
		display: none;
	}

	img{
		width: 55px;
		
	}
}

.nav{

	a{
		text-decoration: none;
		color: #383737;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		transition: 1s ease;

		&:hover{
			color: #fff;
		}
	}

	//desktop nav
	@media screen and (min-width: 768px){
		display: flex;

		ul{
			background-color: #fbbe28;
			padding: 10px;
			position: absolute;
			z-index: 22;
			right: 0;
			top: 38.4vh;


			li{
				padding-right: 30px;
				display: inline-block;

				&:first-child{
					padding-left: 30px;
				}

				a{
					font-size: 0.8em;
				}
			}
		}

	}

	//mobile nav
	@media screen and (max-width: 767px){
		display: none;
		

		&.show{
			display: flex;
			width: 100%;
			height: 100vh;
			text-align: center;
			left: 43%;
			background-color: #fbbe28;
			
			ul{
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0;
				transform: translate(-50%, -50%);
				z-index: 22;

				li{
					// transition: 2s ease;
					opacity: 0;
					padding-bottom: 90px;

					a{
						font-size: 2em;
					}
				}
			}
		}
	}

	
	
}


.hero{
	width: 100%;
	display: flex;
	flex-direction: row;
	@media screen and (max-width: 767px){
		flex-direction: column;
		height: 90vh;
	}
	

	.background1{
		background-image: url(../../src/img/leftHero.jpg);
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 46%;
		width: 29.1796875%;
		background-size: 100% auto;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		
		
	}

	.background2{
		background-image: url(../../src/img/middleHero.jpg);
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 46%;
		width: 41.4453125%;
		background-size: 100% auto;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
		
		
	}

	.background3{
		background-image: url(../../src/img/rightHero.jpg);
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 46%;
		width: 29.4140625%;
		background-size: 100% auto;
		@media screen and (max-width: 767px){
			height: 50vh;
			width: 100vw;
			background-position: center;
		}
	
	}

	
}


.background1{
	position: relative;
	transition: .3s ease;
	
	&::after{
		background-color: #fbbe28;
		@media screen and (max-width: 768px){
			width: 30%;
			margin-top: 20px;
		}
		height: 8px;
		width: 45%;
		top: 52%;
		content: "";
		position: absolute;
		left: 49%;
		transform: translateX(-50%);
		@media screen and (min-width: 1024px){
			width: 39%;
		}
		@media screen and (min-width: 1224px){
			width: 31%;
			top: 50%;
		}
		@media screen and (min-width: 1440px){
			width: 29%;
		}
	}

	h1{
		@media screen and (max-width: 590px){
			padding-top: 125px;
		}
		@media screen and (min-width: 591px){
			padding-top: 143px;
		}
		@media screen and (min-width: 768px){
			padding-top: 70%;
		}
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&:hover{
		opacity: 0;
	}
}

.background2{
	position: relative;
	transition: .3s ease;
	
	&::after{
		background-color: #fbbe28;
		@media screen and (max-width: 768px){
			width: 30%;
			margin-top: 20px;
		}
		height: 8px;
		width: 32%;
		top: 52%;
		content: "";
		position: absolute;
		left: 49%;
		transform: translateX(-50%);
		@media screen and (min-width: 1024px){
			width: 28%;
		}
		@media screen and (min-width: 1224px){
			width: 23%;
			left: 50%;
			top: 51%;
		}
		@media screen and (min-width: 1440px){
			top: 50.5%;
			width: 20%;
		}
	}

	h1{
		@media screen and (max-width: 590px){
			padding-top: 125px;
		}
		@media screen and (min-width: 591px){
			padding-top: 143px;
		}
		@media screen and (min-width: 768px){
			padding-top: 50%;
		}
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&:hover{
		opacity: 0;
	}
}

.background3{
	position: relative;
	transition: .3s ease;

	&::after{
		background-color: #fbbe28;
		@media screen and (max-width: 768px){
			width: 40%;
			margin-top: 20px;
		}
		height: 8px;
		width: 64%;
		top: 52%;
		content: "";
		position: absolute;
		left: 49%;
		transform: translateX(-50%);
		@media screen and (min-width: 1024px){
			width: 54%;
		}
		@media screen and (min-width: 1224px){
			width: 45%;
			left: 49%;
			top: 50%;
		}
		@media screen and (min-width: 1440px){
			width: 39%;
		}
		
	}

	h1{
		@media screen and (max-width: 590px){
			padding-top: 125px;
		}
		@media screen and (min-width: 591px){
			padding-top: 143px;
		}
		@media screen and (min-width: 768px){
			padding-top: 70%;
		}
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 24px;
		text-align: center;
		font-family: avenir next;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	&:hover{
		opacity: 0;
	}
}


.logo {
	@media screen and (max-width: 767px){
		transform: translateY(-36px);
	}
	position: absolute;
	left: 20px;
	width: 100%;
	z-index: 2;
	
	
	@media screen and (min-width: 768px){
		transform: translateY(-40px);
	}
	@media screen and (min-width: 1024px){
		transform: translateY(-53px);
	}
	@media screen and (min-width: 1224px){
		transform: translateY(-63px);
	}
	@media screen and (min-width: 1440px){
		transform: translateY(-70px);
	}

	img{
		@media screen and (max-width: 767px){
			width: 18%;
		}
		width: 10%;
		transition: .5s ease;
		position: fixed;
		z-index: 2;
		&:hover {
			transform: rotate(90deg);
			transform-origin: center;
		}
	}
}


.vertical-line{
	transition: 4s;
	position: relative;

	&.show{
		transform: scale(1.1); 
		top: 100px;
		left: 13%;
		position: fixed;
		height: 240px;
		width: 2px;
		background-color:#fbbe28;
		@media screen and (min-width: 768px){
			top: 80px;
			left: 4.5%;
		}
		@media screen and (min-width: 1024px){
			top: 100px;
		}
		@media screen and (min-width: 1224px){
			top: 120px;
		}
		@media screen and (min-width: 1440px){
			top: 135px;
		}
	}
}


.dot1, .dot2, .dot3, .dot4{
	z-index: 2;
	background-color: #fbbe28;
	width: 11px;
	height: 11px;
	border-radius: 90%;
	left: 11.8%;
	position: fixed;
	top: 100px;
	left: -5px;
}


.dot1{
	top: 60px;
}

.dot2{
	top: 120px;
}

.dot3{
	top: 180px;
}

.dot4{
	top: 240px;
}